<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<!-- navbar from: https://codepen.io/raphaelgoetter/pen/mVpdYV?editors=110 -->
		<nav id="navigation" role="navigation">
			<input type="checkbox" id="toggle-nav" aria-label="open/close navigation">
			<label for="toggle-nav" class="nav-button"></label>
			<div class="nav-inner">
				<img id="logo" src="{{asset('assets/images/logo.png')}}" alt="logo de l'entreprise">
				<a href="{{path('show_evenement')}}">Evenement</a>
				<a href="{{path('show_musique')}}">Musique</a>
				{% if app.session.get('connected') is defined%}
					{% if app.session.get('connected') == true %}
						<a href="{{path('add_evenement')}}">coucou</a>
					{% endif %}
				{% endif %}
				<a id="popupbutton" class="open-button" onclick="openForm()">Open Form</a>
			</div>
			<div class="form-popup" id="myForm">
			<form action="/action_page.php" class="form-container">
				<h1>Envoyez moi Email</h1>

				<label for="email"><b>Email</b></label>
				<input type="text" placeholder="Saisissez votre Email" name="email" required>

				<label for="name"><b>Nom</b></label>
				<input type="text" placeholder="Renseignez votre nom" name="name" required>

				<label for="sujet"><b>Sujet</b></label>
				<input type="text" placeholder="Quel est le sujet de votre message" name="sujet" required>

				<label for="content"><b>Message</b></label>
				<textarea type="text" placeholder="Contenu de votre message" name="content" required></textarea>

				<button type="submit" class="btn button-52">Envoyer</button>
				<button type="button" class="btn cancel" onclick="closeForm()">Fermer</button>
			</form>
			</div>
		</nav>
		{% block body %}{% endblock %}
		<script>
		function openForm() {
			document.getElementById("myForm").style.display = "block";
			document.getElementById("popupbutton").style.display = "none";
		}
		function closeForm() {
			document.getElementById("myForm").style.display = "none";
			document.getElementById("popupbutton").style.display = "inline";
		}
		</script>
	</body>
	<footer>
		<a target="_blank" href="https://icons8.com/icon/80536/alliances">Alliances</a>
		icon by
		<a target="_blank" href="https://icons8.com">Icons8</a>
	</footer>
</html>
