{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/avis.css') }}"/>
{% endblock %}

{% block body %}
	<main>
        {% set cpt = 0 %}
        <div class="container">
            {% for avi in avis %}
                <!--This is the current testimonial-->
                <div class="testimonial-container testimonial-active" {% if cpt == 0 %} id="one" {% elseif cpt == 1 %} id="two" {% elseif cpt == 2 %} id="three" {% elseif cpt == 3 %} id="four" {% elseif cpt == 4 %} id="five" {% endif %}>
                    <div class="testimonial-header"></div>
                    <div class="testimonial-body">
                        <h1>{{ avi.auteur }}</h1>
                        <h2>{{ avi.occasion }}</h2>
                        <p>{{avi.content}}</p>
                        <div class="stars">
                            <img {% if avi.note >= 1 %} src="https://img.icons8.com/fluency/24/fa314a/star.png" {% else %} src="https://img.icons8.com/color/24/fa314a/star--v1.png" {% endif %} class=" fa fa-star gold"></img>
                            <img {% if avi.note >= 2 %} src="https://img.icons8.com/fluency/24/fa314a/star.png" {% else %} src="https://img.icons8.com/color/24/fa314a/star--v1.png" {% endif %} class=" fa fa-star gold"></img>
                            <img {% if avi.note >= 3 %} src="https://img.icons8.com/fluency/24/fa314a/star.png" {% else %} src="https://img.icons8.com/color/24/fa314a/star--v1.png" {% endif %} class=" fa fa-star gold"></img>
                            <img {% if avi.note >= 4 %} src="https://img.icons8.com/fluency/24/fa314a/star.png" {% else %} src="https://img.icons8.com/color/24/fa314a/star--v1.png" {% endif %} class=" fa fa-star gold"></img>
                            <img {% if avi.note >= 5 %} src="https://img.icons8.com/fluency/24/fa314a/star.png" {% else %} src="https://img.icons8.com/color/24/fa314a/star--v1.png" {% endif %} class=" fa fa-star gold"></img>
                        </div>
                        <div id="date">{{ avi.createdAt|date('d-m') }}</div>
                    </div>
                </div>
                {% set cpt = cpt + 1 %}
            {% endfor %}
        <div class="testimonial-container testimonial-active" id="six">
            <div class="testimonial-header-add"></div>
            <div class="testimonial-body">
                {{form_start(form)}}
                <div id="auteur">{{form_widget(form.auteur)}}</div>
                <div id="occasion">{{form_widget(form.occasion)}}</div>
                <div id="content">{{form_widget(form.content)}}</div>
                <div id="note">{{form_widget(form.note)}}</div>
                <div id="save">{{form_end(form)}}</div>
            </div>
        </div>
        <div id="pagination">{{ knp_pagination_render(avis) }}</div>
    </main>
{% endblock %}
