{% extends 'base.html.twig' %}

{% block title %}Hello ListMusiqueController!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/listemusique.css') }}"/>
{% endblock %}
{% block body %}
	<main>
		<h2>Les musiques associés à votre liste</h2>
		<table class="container">
			<thead>
				<tr class="notshadow">
					<th>
						<h1>Titre</h1>
					</th>
					<th>
						<h1>Artiste</h1>
					</th>
					<th>
						<h1>Album</h1>
					</th>
					<th>
						<h1>Année</h1>
					</th>
					<th>
						<h1>Importance</h1>
					</th>
				</tr>
			</thead>
			<tbody>
				{% set cpt = 0 %}
				{% for musique in musiques %}
					<tr>
						<td>{{musique.titre}}</td>
						<td>{{musique.artist}}</td>
						<td>{{musique.album}}</td>
						<td>{{musique.annee}}</td>
						<td>{{appartient[cpt].importance}}</td>
					</tr>
					{% set cpt = cpt+1 %}
				{% endfor %}
			</tbody>
			<tfoot>
				<tr class="notshadow">
					<td>{{ knp_pagination_render(musiques) }}</td>
				</tr>
			</tfoot>
		</table>
		<div>
			<h2>Ajouter des musiques à
				{{list.nomList}}</h2>
			<form action="{{path('add_Appartient', {'id': list.id} )}}" method="post" class="form-style-7">
				<ul>
					<li>
						<label for="titre">Titre</label>
						<input type="text" name="titre" maxlength="100" required="true">
						<span>Entrer le titre de la musique</span>
					</li>
					<li>
						<label for="artist">Artiste</label>
						<input type="text" name="artist" maxlength="100" required="true">
						<span>Entrer le pseudo du chanteur</span>
					</li>
					<li>
						<label for="album">Album</label>
						<input type="text" name="album" maxlength="100">
						<span>Entrer l'album de lequel la musique s'il éxiste</span>
					</li>
					<li>
						<label for="annee">Année</label>
						<input type="number" name="annee">
						<span>Entrer l'année de sortie de la musique</span>
					</li>
					<li>
						<label for="style">Style</label>
						<input type="text" name="style">
						<span>Entrer le style de la musique</span>
					</li>
					<li>
						<label for="style">Style</label>
						<select name="importance">
							<option value="obligatoire">Obligatoire</option>
							<option value="recommande">Recommandée</option>
							<option value="possible">Si possible</option>
						</select>
						<span>A quel point souhaitez vous entendre cette musique</span>
					</li>
				</li>
			</li>
		</li>
		<li>
			<input type="submit" value="Send This">
		</li>
	</ul>
</form></div></main><aside><img id="logo" src="{{asset('assets/images/logo.png')}}" alt="logo de l'entreprise"><h3 id="date">{{list.idEvenement.date|date('d-m')}}</h3><p class="title imp">Midnight Musique</p><p id="animera" class="title space">Animera votre</p><p class="title imp space">{{list.idEvenement.occasion}}</p><p id="lieux">à
{{ list.idEvenement.lieux }}</p></aside>{% endblock %}
