{% extends 'base.html.twig' %}

{% block title %}Hello MusiqueController!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/catalogue.css') }}"/>
{% endblock %}
{% block body %}
	{% set cpt = 0 %}
	<main>
		<h2>Mon catalogue de musique</h2>
		<table class="container">
			<thead>
				<tr id="notshadow">
					<th>
						<h1>Titre</h1>
					</th>
					<th>
						<h1>Artiste</h1>
					</th>
					<th>
						<h1>Album</h1>
					</th>
					<th>
						<h1>Année</h1>
					</th>
					<th>
						<h1>Style</h1>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for cpt in cpt * 10 .. cpt * 10 + 9 %}
					<tr>
						{% if musiques[cpt] is defined %}
							<td>{{musiques[cpt].titre}}</td>
							<td>{{musiques[cpt].artist}}</td>
							<td>{{musiques[cpt].album}}</td>
							<td>{{musiques[cpt].annee}}</td>
							<td>{{musiques[cpt].style}}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
	{{cpt}}
	<button onclick="{{ {% set cpt = cpt + 1 %} }}">+</button>
	<button onclick="{% set cpt = cpt + 0 %}">-</button>
</main>
<aside>
	{{form(form)}}
	</aside>
{% endblock %}
