{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/listevenement.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/css/password.css') }}"/>

{% endblock %}
{% block body %}
	<main>
		{% set cpt = 0 %}
		{% for evenement in evenements %}
			<div class="timeline">
				<div {% if cpt is divisible by(2) %} class="container left" {% else %} class="container right" {% endif %}>
					<div class="date">{{evenement.date|date('d-m')}}</div>
					<i {% if evenement.occasion == "Mariage" %} class="icon fa fa-mariage" {% elseif evenement.occasion== "Anniversaire" %} class="icon fa fa-anniversaire" {% else %} class="icon fa fa-party" {% endif %}></i>
					<div class="content">
						<h2>{{evenement.occasion}}</h2>
						<p>
							adresse:
							{{evenement.lieux}}
						</p>
						<p>
							Théme:
							{{evenement.theme}}
						</p>
						<p id="exclure">
							Nombre de participant:
							{{evenement.nbinvite}}
						</p>
						<form action="{{path('ask_password', {'id': evenement.id} )}}" method="post">
							<input type="password" placeholder="mdp" name="password">
							<button type="submit">save</button>
						</form>
					</div>
				</div>
				{% set cpt = cpt + 1 %}
			{% endfor %}
		</main>
	{% endblock %}

	{% block javascripts %}
		<script src="{{ asset('assets/js/password.js') }}"></script>
	{% endblock %}
